<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Your Shopping cart Account Verification code is <%= @user.otp %>. please confirm your account, Generated OTP is Expired after 5 Minutes .
    </p>
  </body>
</html>
